body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFCC00;
}

header {
  padding-left: 1em;
  padding-top: 1em;
  color: rgb(0, 0, 0);
  border-bottom: 3px solid rgb(99, 42, 42);
  background-color: rgba(203, 156, 25, .95);
}

main {
  padding: 2em;
}

.tagline {
  margin-left: 0.5em;
  font-size: 50%;
  color: rgba(0, 0, 0, .6);
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
footer {
  font-family: "Overpass", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar{
  background-color: rgb(203, 156, 25);
}